.get {
    max-width: 100%;
    background-image: url('/img/get/bg.png');
    background-size: cover;
    background-position: top center;
    height: 499px;

}

.get-in__touch {
    display: flex;
    justify-content:center ;
    align-items: center;

}
.get-in__row {
    margin: auto;

}

.get-in__title {

    font-family: 'OpenSans', sans-serif;
    font-size: 30px;
    line-height: 120%;
    /* or 120% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    margin-top: 120px;
    margin-bottom: 35px;
    // display: flex;
    justify-content:center ;



}

.get-in__btn {
    display: flex;
    justify-content:center ;
    align-items: center;
}